name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6.0.1"
      - uses: home-assistant/actions/hassfest@master