name: "Lint"

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  ruff:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.1"

        - name: "Set up Python"
          uses: actions/setup-python@v6.1.0
          with:
            python-version: "3.x"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Format"
          run: python3 -m ruff format .

        - name: "Check"
          run: python3 -m ruff check .

        - name: "Auto Commit"
          uses: stefanzweifel/git-auto-commit-action@v7.1.0
          with:
            commit_message: 'style fixes by ruff'
