name: "Tests"

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  pytest:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: "Run Tests"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.1"

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: "Install dependencies"
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt
          python3 -m pip install -r requirements_test.txt

      - name: "Run tests"
        run: python3 -m pytest tests/ -v --tb=short
